table{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

}


tbody tr:nth-child(odd){
    background-color:#525252;

    
    border-top: 2px solid black;
}

tbody tr:nth-child(even){
    background-color: white;
   
}

.title-student{
    background-color:#525252;

}

.card-title-wrapper{
    background-color:#525252;
}

.card-bg .card-body{
    
    color: black;
}

